body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFAB76;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: #FF6363;
}

#gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    gap: 1px;
}

.gridFill {
    background-color: black;
}
